@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
.rounded-btn{
    position: absolute;
    bottom: 0;
    right:0;
    min-width: 80px;
    outline: none;
    background: transparent;
    border: 1px solid #43A2F8;
    border-radius: 20px;
    color:#43A2F8;
    height: 30px;
    font-size: 12px;
    font-weight:600; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: 'Open Sans',sans-serif;
}
.rounded-btn:hover{
    background:#43A2F8;
    color:#fff;
}